.welcomeText,
.infoText,
.startText,
.manualWrapper,
.manualText {
    align-self: center;
    color: var(--text_color);
    transition: all 360ms ease-in-out;
}

.welcomeText {
    font-size: $fs_heading_xl;
}

.infoText {
    font-size: $fs_normal_lg;
}

.startText {
    font-size: $fs_heading_md;
}

.manualWrapper {
    @include flexColumn;
    gap: clamp(10px, 1.6em, 20px);
    .manualText {
        align-self: flex-start;
    }
}

.manualText {
    font-size: $fs_normal_lg;

    span {
        font-size: $fs_normal_xl;
        font-weight: 800;
    }
}
