.formInp {
    @include flexCenter;
    // align-items: stretch;
    font-size: $fs_normal_md;
    font-weight: 500;
    color: var(--text_color);
    gap: clamp(10px, 1.6em, 16px);

    transition: all 360ms ease-in-out;

    input {
        font-size: $fs_normal_md;
        letter-spacing: 0.02em;
        color: var(--text_color);
        padding: 0.3em 0.6em;
        // min-width: clamp(260px, 2.6em, 300px);
        min-width: 260px;

        background-color: transparent;
        border: 2px solid var(--out_focus_gray);
        border-radius: $distance_md;
        outline: none;

        transition: all 360ms ease-in-out;

        &:focus {
            border-color: var(--in_focus_gray);
        }
    }
}
