.searchInpWrapper {
    @include flexCenter;
    align-items: stretch;

    background-color: transparent;

    overflow: hidden;
    border: 2px solid var(--out_focus_gray);
    border-radius: $distance_lg;
    transition: all 360ms ease-in-out;

    &:has(input:focus) {
        border-color: var(--in_focus_gray);

        .searchBtn:hover .searchBtn > svg {
            height: $fs_heading_sm;
        }

        .searchBtn::before {
            border-color: var(--in_focus_gray);
        }
    }

    input {
        font-size: $fs_normal_md;
        color: var(--text_color);
        padding: 0.4em 0.6em;
        letter-spacing: 0.06rem;
        min-width: 30rem;

        background-color: transparent;
        outline: none;
        border: none;

        transition: all 360ms ease-in-out;

        &:focus ~ button.searchBtn::before {
            height: 80%;
            border-color: var(--in_focus_gray);
        }

        &:focus ~ button.searchBtn > svg {
            height: $fs_heading_2sm;
        }

        &:placeholder-shown {
            color: var(--text_color);
            font-weight: 400;
            letter-spacing: 0.06rem;
        }
    }

    .clearSearchBtn {
        background-color: transparent;
        outline: none;
        border: none;
        cursor: pointer;

        margin: 0 clamp(4px, 0.6rem, 8px);

        svg {
            height: calc(($fs_normal_md / 100) * 86);
            color: var(--text_color);
            // transition: all 360ms ease-in-out;
        }

        &:hover {
            svg {
                color: var(--hover_text_color);
                fill: var(--text_color);
            }
        }
    }

    .searchBtn {
        position: relative;
        @include flexCenter;
        aspect-ratio: 1 / 1;
        padding: 0.6em;
        min-width: 4.2rem;

        background-color: transparent;
        outline: none;
        border: none;

        cursor: pointer;
        transition: all 360ms ease-in-out;

        svg {
            height: $fs_heading_3sm;
            transition: all 360ms ease-in-out;
            color: var(--text_color);
        }

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            height: 60%;
            width: 1px;
            border: 1px solid var(--out_focus_gray);
            transition: all 360ms ease-in-out;
        }

        &:hover {
            background-color: var(--out_focus_gray);

            svg {
                color: var(--hover_text_color);
                height: $fs_heading_sm;
            }
        }
    }
}
