.page {
    @include flexColumn;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: var(--bg_color);
    transition: all 360ms ease-in-out;

    position: relative;
}

.pageHeader,
.pageContent {
    padding: 0 8.6rem;
}

.pageHeader {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    @include flexCenter;
    justify-content: space-between;
    gap: clamp(50px, 5.6em, 60px);
    padding-top: 3.6rem;
    padding-bottom: 3.6rem;

    transition: all 60ms ease-in-out;
}

.pageContent {
    flex: 1;
    @include flexColumn;
    align-items: stretch;
    justify-content: flex-start;
    gap: clamp(30px, 3.6em, 40px);
    margin-bottom: clamp(46px, 5.6em, 60px);
    transition: all 360ms ease-in-out;
}

.footer {
    @include flexCenter;
    padding: clamp(8px, 1.4em, 16px);
    transition: all 360ms ease-in-out;
}

.mainBtn {
    @include flexCenter;
    font-size: $fs_normal_md;
    font-weight: 600;
    padding: 0.36em 0.6em;
    color: var(--text_color);
    gap: clamp(4px, 0.6em, 8px);

    border: 2px solid $gray_color;
    border-radius: $distance_lg;
    background-color: var(--bg_color);

    cursor: pointer;
    transition: all 360ms ease-in-out;

    svg {
        height: $fs_normal_lg;
        transition: all 360ms ease-in-out;
        color: var(--text_color);
    }

    &:hover,
    &:hover svg {
        color: var(--hover_text_color);
    }
}

.editBtn {
    border-color: $light_green_color;

    &:hover {
        background-color: $light_green_color;
    }
}

.deleteBtn {
    border-color: $light_red_color;

    &:hover {
        background-color: $light_red_color;
    }
}

.submitBtn {
    border-color: $primary_color;

    &:hover {
        background-color: $primary_color;
    }
}
